<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout Logger</title>
    <!-- build:js -->
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import("./app/app")
    </script>
    <!-- endbuild -->
</head>
<body ng-app="workoutLoggerApp">

    <div ng-controller="WorkoutsCtrl as ctrl">
        <form class="form">
            <label for="newWorkoutType">Type</label>
            <input id="newWorkoutType" type="text" ng-model="ctrl.newWorkoutType">

            <label for="newWorkoutDuration">Duration (mins)</label>
            <input id="newWorkoutDuration" type="number" ng-model="ctrl.newWorkoutDuration">

            <label for="newWorkoutDate">Date</label>
            <input id="newWorkoutDate" type="date" ng-model="ctrl.newWorkoutDate">

            <input class="btn btn-primary" type="submit" value="Add" ng-click="ctrl.add()">
        </form>

        <input class="btn btn-default" type="button" value="Refresh" ng-click="ctrl.init()">
        <ul ng-repeat="workout in ctrl.workouts">
            <li>{{ workout.id }}</li>
        </ul>
    </div>
</body>
