<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workout Logger</title>
    <!-- build:js -->
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import("./app/app")
    </script>
    <!-- endbuild -->
</head>
<body ng-app="workoutLoggerApp">

    <div ng-controller="WorkoutsCtrl as ctrl">
        <input class="btn btn-default" type="button" value="Refresh" ng-click="ctrl.init()">
        <ul ng-repeat="workout in ctrl.workouts">
            <li>{{ workout.uuid }}</li>
        </ul>
    </div>
</body>
