<div class="container" ng-controller="UpdateCtrl as ctrl">
    <form>
        <div class="form-group">
            <label for="newEntryType">Type</label>
            <div id="newEntryType">
                <div class="radio" ng-repeat="type in ctrl.types">
                    <label>
                        <input type="radio" name="types" ng-model="ctrl.newEntryType" ng-value="type">
                        {{ type }}
                    </label>
                </div>
                <div>
                    <input class="form-control" type="text" ng-model="ctrl.newEntryType">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="newEntryDuration">Duration (mins)</label>
            <input id="newEntryDuration" class="form-control" type="number"
                    ng-model="ctrl.newEntryDuration">
        </div>

        <div class="form-group">
            <label for="newEntryDate">Date</label>
            <input id="newEntryDate" class="form-control" type="date"
                    ng-model="ctrl.newEntryDate">
        </div>

        <div class="form-group">
            <label for="newEntryRating">Rating (1-5)</label>
            <input id="newEntryRating" class="form-control" type="number"
                    ng-model="ctrl.newEntryRating">
        </div>

        <div class="form-group">
            <label for="newEntryComment">Comment</label>
            <textarea id="newEntryComment" class="form-control" ng-model="ctrl.newEntryComment"></textarea>
        </div>

        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Update" ng-click="ctrl.update()">
        <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Cancel" ng-click="ctrl.cancel()">
        <input class="btn btn-danger btn-lg btn-block" type="submit" value="Delete" ng-click="ctrl.delete()">
    </form>
</div>
