<div ng-controller="GarminCtrl as ctrl">
    # entries: {{ ctrl.entries.length }}
    <button ng-click="ctrl.refreshEntries()">Refresh</button>
    <button ng-click="ctrl.downloadEntries()">Download</button>

    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Duration</th>
            <th>Date</th>
            <th>Distance</th>
        </tr>
        <tr ng-repeat="entry in ctrl.entries">
            <td>{{ entry.activity.id }}</td>
            <td>{{ entry.activity.type }}</td>
            <td>{{ entry.activity.duration }}</td>
            <td>{{ entry.activity.start | date : "short"}}</td>
            <td>{{ entry.activity.distance }}</td>
        </tr>
    </table>
</div>