<div ng-controller="AddCtrl as ctrl">
    <form>
        <div>
            <label for="newWorkoutType">Type</label>
            <div id="newWorkoutType">
                <div ng-repeat="type in ctrl.types">
                    <label>
                        <input type="radio" ng-model="ctrl.newWorkoutType" ng-value="type">
                        {{ type }}
                    </label>
                </div>
                <div>
                    <input class="form-control" type="text" ng-model="ctrl.newWorkoutType">
                </div>
            </div>
        </div>

        <div>
            <label for="newWorkoutDuration">Duration (mins)</label>
            <input id="newWorkoutDuration" class="form-control" type="number"
                    ng-model="ctrl.newWorkoutDuration">
        </div>

        <div>
            <label for="newWorkoutDate">Date</label>
            <input id="newWorkoutDate" class="form-control" type="date"
                    ng-model="ctrl.newWorkoutDate">
        </div>

        <div>
            <label for="newWorkoutComment">Comment</label>
            <textarea id="newWorkoutComment" class="form-control" ng-model="ctrl.newWorkoutComment"></textarea>
        </div>

        <input type="submit" value="Add" ng-click="ctrl.add()">
    </form>
</div>
